$white: #fff;
$black: #000;
$lightgrey: #C0C0C0;
$grey: #5F5F5F;
$darkgrey: #383838;
$pink: #fd4cff;

$primary: #2D8D77;
$primary-hover: #44D7B6;
$primary-text-hover: $darkgrey;
$primary-click: #206656;
$primary-disabled: #7E8D8A;

$secondary: $grey;
$secondary-hover: #707070;
$secondary-click: #3d3d3d;
$secondary-disabled: #a5a5a5;

$tertiary: $lightgrey;
$tertiary-hover: $blue-500;
$tertiary-click: #155fce;
$tertiary-disabled: #a5a5a5;

$quartenary: $pink;
$quartenary-hover: #fc66ff;
$quartenary-click: #c634ff;
$quartenary-disabled: #a5a5a5;

$highlight: #44D7B6;
$highlight-hover: #75DBC4;

$hover-black: #181818;

$bg-color: $black;
$bg-color-in-app: $grey;
$bg-card: $darkgrey;

$headline-color: $white;
$subheadline-color: $white;
$detail-color: $lightgrey;
