.profile-card {
    min-height: 80vh;
}

.profile-main {
    min-height: 80%;
    color: #5F5F5F;
    font-size: 18px;
    margin-bottom: 94px;
}

.profilecard-image-wrap {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    
    margin-bottom: 20px;
}

.profilecard-body {
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 60%);
}

.profilecard-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    i {
        color: $lightgrey;
        font-size: $font-size-subheadline;
    }
}

.profilecard-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilecard-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.profilecard-right-top {
    display: flex;
    align-items: center;
}

.profilecard-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12%;

    i {
        font-size: 3em;
        font-style: normal;
        color: $highlight;
    }
}

.profilecard-username {
    font-size: $font-size-headline-small;
    color: $white;
    font-style: normal;
    padding-bottom: 5%;
}